In [1]:
import pandas as pd

pd.read_csv('connections_clean.csv')

,date,category,w1,w2,w3,w4
0,2023-10-08,CELEBRATORY OCCASIONS,ANNIVERSARY,BIRTHDAY,SHOWER,WEDDING
1,2023-10-08,PHONE CONNECTIVITY,BARS,RECEPTION,SERVICE,SIGNAL
2,2023-10-08,CITIES AND TOWNS IN ENGLAND,BATH,DERBY,READING,SANDWICH
3,2023-10-08,___ OPERA,COMIC,MET,ROCK,SOAP
4,2023-10-07,RHYMES,DARREN,KAREN,SHARON,AARON
...,...,...,...,...,...,...
471,2023-06-13,LETTER HOMOPHONES,ARE,QUEUE,SEA,WHY
472,2023-06-12,WET WEATHER,HAIL,RAIN,SLEET,SNOW
473,2023-06-12,NBA TEAMS,BUCKS,HEAT,JAZZ,NETS
474,2023-06-12,KEYBOARD KEYS,OPTION,RETURN,SHIFT,TAB
475,2023-06-12,PALINDROMES,KAYAK,LEVEL,MOM,RACE CAR

In [2]:
476 / 4

119.0